{% extends "::layout/layout.html.twig" %}
{% block body %}

    <!--  vue de la page affichant la liste des medicaments de la pharmacie IPR -->

    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ path('page_accueil') }}">ACCUEIL </a><strong>></strong>
            <i class="icon-angle-right"></i>
            <a href="#">PHARMACIES </a><strong>></strong>
            <a href="#">PHARMACIE IPR</a>
        </li>
    </ul>
    <div class="row">
        <form  name="rechercheMediIpr" method="POST" action="{{ path('resultatMediIpr') }}" class="navbar-form pull-right">
            <input type="search" name="rechercheMediIpr" style="width: 300px ;height:40px"
                   placeholder="Rechercher un médicament">
            <button type="submit" style="background-color: #ce8483" value ="rechercheMediIpr">
                <span class="glyphicon glyphicon-search" style="width: 50px ;"></span>
            </button>
        </form>
    </div>
    <h2><center>PHARMACIE DE CSRU IPR</center></h2>
    <section class="table-responsive">
        <table class="table table-bordered table-bordered table-striped table-condensed">
            <thead style="background-color: #e4b9b9">
            <th style="line-height: 210%">
            <center>Nom</center>
            </th>
            <th>
            <center>Description  </center>
            </th>
            <th>
            <center>Quantite</center>
            </th>
            <th>
            <center>Prix</center>
            </th>
            <th>
            <center>Date</center>
            </th>
            <th>
            <center> Date de péremption</center>
            </th>
            <th>
            <center> Action</center>
            </th>
            </thead>
            {% for medi in medi %}
                {% if medi.centre == 'CSRU IPR' %}
                    <tr>
                        <td>
                    <center> {{ medi.nom }}</center>
                    </td>
                    <td>
                    <center> {{ medi.description }}</center>
                    </td>
                    <td>
                    <center> {{ medi.quantite }}</center>
                    </td>
                    <td>
                    <center> {{ medi.prix }}</center>
                    </td>
                    <td>
                    <center> {{ medi.date|date('d-m-Y')}}</center>
                    </td>
                    <td>
                    <center> {{ medi.datePerime|date('d-m-Y')}}</center>
                    </td>
                    <td>
                    <center>
                        <a href="{{ path('reserver',{'id':medi.id}) }}" data-toggle="popover" title="prendre" data-content="prendre"><span class="glyphicon glyphicon-shopping-cart"  ></span></a>
                    </center>
                    </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </section>  
    <br/>          
{% endblock %}
