{% extends "::layout/layout.html.twig" %}
{% block body %}

    <!--  vue de la page d'ajout d'un antécedent d'un dossier Medical -->

    <center> <h2> Antécédent</h2></center><br/>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.type) }}
                {{ form_widget(form.type ,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.type) }}

                {{ form_label(form.description) }}
                {{ form_widget(form.description ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-round btn-info" type="submit" style="float: right">Valider</button>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-6">
            <a href="{{ path('dossierMedical',{'id':dossier.id}) }}"><button class="btn btn-round btn-warning"> Annuler </button> </a>
        </div>
    </div>
    <br/>

{% endblock %}
