{% extends "::layout/layout.html.twig" %}
{% block body %}

    <!--  vue de la page d'ajout d'une consultation d'un dossier Medical -->

    <a href="{{ path('ajoutPrescription',{'id':dossier.id}) }}"><button class="btn btn-round btn-info" style="float: right"> Faire une prescription </button> </a><br/><br/>
    {% for m in app.session.Flashbag.get('info') %}
        <div class="row alert alert-danger" style="text-align: center">
            <h4>
                {{ m }}
            </h4>
        </div>
    {% endfor %}
    <center> <h2> Consultation</h2></center><br/>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {{ form_start(form) }}
            <div class="form-group col-lg-6">
                {{ form_label(form.taille) }}
                {{ form_widget(form.taille ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.taille) }}

                {{ form_label(form.poids) }}
                {{ form_widget(form.poids ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.poids) }}

                {{ form_label(form.temperature) }}
                {{ form_widget(form.temperature ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.temperature) }}

                {{ form_label(form.tension) }}
                {{ form_widget(form.tension ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.tension) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(form.motif) }}
                {{ form_widget(form.motif ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.motif) }}

                {{ form_label(form.description) }}
                {{ form_widget(form.description ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.description) }}

                {{ form_label(form.resultat) }}
                {{ form_widget(form.resultat ,{'attr':{'class':'form-control','heigth':'200px'}}) }}
                {{ form_errors(form.resultat) }}

            </div>

        </div>
        <div class="col-lg-1"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-round btn-info" type="submit" style="float: right">Valider</button>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-6">
            <a href="{{ path('dossierMedical',{'id':dossier.id}) }}"><button class="btn btn-round btn-warning"> Annuler </button> </a>
        </div>
    </div>
    <br/>


{% endblock %}
