{% extends "::layout/layout.html.twig" %}
{% block body %}

    <!--  vue de la page de détail d'une consultation d'un dossier Medical -->

    <div class="col-lg-12 white-panel">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <h3> Fiche de consultation du {{ consultation.date|date('d-m-Y') }}</h3><br/>
            <div class="col-lg-6">
                <p>NOM PATIENT:</p>
                <p>PRENOM PATIENT:</p>
                <p>TAILLE PATIENT:</p>
                <p>POIDS PATIENT:</p>
                <p>TEMPERATURE PATIENT:</p>
                <p>TENSION PATIENT:</p>
                <p>MOTIF CONSULTATION:</p>
                <p>DIALOGUE:</p>
                <p>SYMPTOME PROBABLE:</p>
                <p>DATE RENDEZ-VOUS:</p>

            </div>
            <div class="col-lg-6">
                <p><strong style="color: blue">{{ consultation.dossierMedical.etudiant.nom }}</strong></p>
                <p><strong style="color: blue">{{ consultation.dossierMedical.etudiant.prenom }}</strong></p>
                <p><strong style="color: blue">  {{ consultation.taille}}</strong></p>
                <p><strong style="color: blue">  {{ consultation.poids}}</strong></p>
                <p><strong style="color: blue">  {{ consultation.temperature}}</strong></p>
                <p><strong style="color: blue">  {{ consultation.tension}}</strong></p>
                <p><strong style="color: blue">  {{ consultation.motif}}</strong></p>
                <p><strong style="color: blue">  {{ consultation.description}}</strong></p>
                <p><strong style="color: blue">  {{ consultation.resultat}}</strong></p>
                <p><strong style="color: blue">{{ consultation.dateRdv|date('d-m-Y') }}</strong></p><br/><br/><br/><br/>
                <p style="float: right">SIGNATURE:  <strong style="color: blue">{{ consultation.utilisateur.profil.profession}} {{ consultation.utilisateur.username}}</strong></p>
            </div>
        </div><br/>
        <div class="col-lg-2">
            <a href="{{ path('consultation',{'id':consultation.dossierMedical.id}) }}"><button class="btn btn-round btn-success" style="width: 100px"> RETOUR </button></a><br/><br/>
            <a href="#"><button class="btn btn-round btn-info" style="width: 100px"> IMPRIMER </button></a>
        </div>
    </div>

{% endblock %}
